<!DOCTYPE html>
<html>
<head>
  <title>Home page!</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Homepage!</h1>
  <p>
    My first variable: <%= my_var %>
  </p>
  <p>
    Here is my instance variable: <%= @something %>
  </p>
</body>
</html>
